#body {
  background-color: #b3ffb3;
}

#titre {
  text-align: center;
  color: #00b300;
  border-style: solid;
  border-color: #00b300;
}

.style {
  border-style: solid;
  border-color: #00b300;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
